h1 inicio con less !
p= msg

script(type='text/javascript').
	console.log('que pasa con jade + mustache?')

	var data, template, html;

	data = {
		name: "Amigos",
		sites: ["Familiares-friends", "facebook-friends", "colegio-friends"],
		url: function(){
			return function(text, render){
				text = render(text);
				var url = text.trim().toLowerCase().split('-friends')[0] + '/amigos.com';
				return '<a href="' + url + '">' + text + '</a>';
			}
		}
	};

	template = "<h1> {{name}} </h1> <ul> {{#sites}} <li> {{#url}} {{.}} {{/url}} </li> {{/sites}} </ul>";

	html = Mustache.to_html(template, data);

	document.write(html);